* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
}

header {
    padding: 10px;
    margin-bottom: 20px;
    font-family: cursive;
}

header .heading h1 {
    display: inline;
}
header .heading #color {
    float: right;
}

.main-frame {
    height: 90%;
    width:  90%;
    background-color: #fff;
}

.main-frame button {
    height: 50px;
    width: 150px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 5px;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: white
}
